@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebQuanLyShopBanHang.Models.Product>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách Sản phẩm" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Danh sách sản phẩm : page @CurrentPage</span>
                <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Create" class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm sản phẩm</span>
                </a>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-affix" m-v-10>
                                    <i class="prefix-icon anticon" anticon-search opacity-04></i>
                                    <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" />
                                </div>


                            </div>
                            <div class="col-md-6">

                                <div class="input-affix" m-v-10>

                                    <select class="custom-select" id="txtcatID" name="txtcatID" style="min-width: 220px;" asp-items="ViewBag.DanhMuc">
                                        <option selected>Chọn danh mục</option>
                                        <option value="all">Chọn tất cả</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-hover e-commerce-table">
                        <thead>
                            <tr>

                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Mô tả</th>
                                <th>Ngày tạo</th>

                                <th>Ngày sửa</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="record_table">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @item.ProductId
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid rounded" src="assets/images/others/thumb-10.jpg" style="max-width: 60px" alt="">
                                                <h6 class="m-b-0 m-l-10">@item.ProductName</h6>
                                            </div>
                                        </td>
                                        <td>@item.Price</td>
                                        <td>@item.Description</td>
                                        <td>@item.DateCreated</td>
                                        <td>@item.DateModified</td>



                                        <td>
                                            <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId">View</a>
                                            <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                                            <a class="btn btn-danger m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                        </td>

                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                    <div aria-label="Page navigation example">
                        <ul class="pagination">
                            <pager class="page-container" list="@Model" asp-area="Admin" asp-route-CatID="@ViewBag.CurrentCateID" asp-controller="AdminProducts" asp-action="Index" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>


    $(document).ready(function () {
        jQuery("#txtcatID").change(function () {
            var carID = jQuery(this).children(":selected").attr("value");
            carID = parseFloat(carID);
            $('#txtcatID option')
                .removeAttr('selected');
            $("#txtcatID > [value=" + carID + "]").attr("selected", "true");
            $.ajax({
                url: '/Admin/AdminProducts/Filter',
                dataType: "json",
                type: "GET",
                data: {
                    CatID: carID
                },
                async: true,
                success: function (result) {
                    if (result.status == "success") {
                        window.location.href = result.redirectUrl;
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '/Admin/Search/FindProduct/',
                datatype: "json",
                type: "POST",
                data: { keyword: strkeyword },
                async: true,
                success: function (results) {
                    
                    $("#record_table").html("");
                    $("#record_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }


            });
        });
    });
    </script>

}